{{#section 'head'}}
    <link rel="stylesheet" href="./vendor/datatables.net/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/blogs.css">
{{/section}}

<section class="content">
    <h2>{{title}}</h2>
    <div>{{content}}</div>
</section>

<section class="comListBox">
{{#each comment}}
        <div class="comList">
            <img src="{{picture}}" alt="">
            <span>{{userName}}</span>
            <p>{{msg}}</p>
        </div>
{{/each}}
</section>




{{#section 'customjs'}}
    <script src = "./vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src = "./vendor/datatables.net/js/dataTables.bootstrap.min.js"></script>
    <script>

    </script>
{{/section}}



































































